<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
  <link rel="stylesheet" href="/assets/error.css">
</head>
<body>
    <div class="">
        <div class="four04">
            <h1><%= statusCode %></h1>
            <div class="target-cont">
                <div class="cover"></div>
                <div class="marks"></div>
            </div>
        </div>	
        <h2><%= errorMessage %></h2>
	</div>
</body>
</html>
