<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/assets/main.js" defer></script>
    <title>Colosseum</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/assets/colosseumLogo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,900&display=swap" rel="stylesheet" />
    <link href="/assets/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="parallax">
      </header>
      <div class="hero">
        <div class="wrapper">
          <h1 class="hero__title">
           COLOSSEUM <span>It's time to embark on an epic quest</span>
           <span> Ready your gear!</span> 
          </h1>
        </div>
      </div>

      <img class="parallax__bg" src="/assets/bg.jpg" alt="" />
      <img class="parallax__dust" src="/assets/dust.webp" alt="" />
      <img class="parallax__foreground-back" src="/assets/foreground-back.webp" alt="" />
      <img class="parallax__foreground-front" src="/assets/foreground-front.webp" alt="" />
       <!-- Removed the jax image  -->
       <img class="parallax__luna" src="/assets/rays.webp" alt=""/>
       <img class="parallax__luna" src="/assets/luna.webp" alt=""/>
    </div>
    <main class="main-content">
      <div class="wrapper">

        <div class="playerInfo">
            <div class="playerheader"> <span class="play-word" data-value="PLAYER">PLAYER</span></div>
            <P CLASS="playertext">Players in gaming are the heart of the experience, driving the narrative and gameplay through their actions and choices. 
              From casual gamers seeking relaxation and entertainment to competitive
              players striving for excellence in esports, the diversity in player motivations enriches the gaming landscape.</P>
            <button class="button" onclick="redirectToSignin('player')">Player</button>
        </div>  

        <div class="OrgInfo">
            <div class="organiserheader"> <span class="play-word" data-value="ORGANISER">ORGANISER</span></div>
            <P CLASS="orgtext">Tournament organisers play a crucial role in the gaming community, facilitating competitive 
              events that bring players together to showcase their skills and passion. 
              Their tasks include setting up tournament 
              formats, managing registrations, ensuring fair play, and providing technical support during events.</P>
            <button class="button" onclick="redirectToSignin('organiser')">Organiser</button>
        </div> 

        <div class="links">
          <a href="https://github.com/vihaan-that/Colloseum"><img src="../assets/github.png" class="git" ></a>
          <a href="mailto:abhinash.t22@iiits.in"><img src="../assets/gmail.png" class="gmail"></a>
          <a href="https://www.youtube.com/@iiit-sricity9081"><img src="../assets/youtube.png" class="youtube"></a>
        </div>                      
      </div>
    </main>
            
  </body>
</html>
