    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup Card</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/signupStyle.css">
        <script src="/assets/signup.js" defer></script>
    </head>
    <body>
        <div class="signup-card">
            <img src="/assets/controller.jpg" alt="logo"> <!-- Make sure the image path is correct -->
            <h2 id="signup-typing-text">Create Account</h2>
            <form id="signupForm" method="POST" class="form" onsubmit="return validateForm()" 
            action="<%= role === 'player' ? '/auth/player/signup' : '/auth/org/signup' %>">
                      <input type="hidden" name="role" id="role" value="<%= role %>">
                <input type="text" id="username" placeholder="Username" name="username" required class="validate1" autocomplete="off">
                <input type="email" id="email" placeholder="Email" required name="email" class="validate3" autocomplete="off">
                <input type="password" id="password" placeholder="Password" name="password" required class="validate2" autocomplete="off">
                <button class="sig" type="submit">SIGN UP</button>
                <div class="signin-link">
                    <p>Already have an account? <a href="/signin?role=<%= role %>">LOG IN</a></p>
                </div>
            </form>
            
        </div>

    </body>
    </html>
