body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: rgb(15, 15, 15);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(3,47,0,1) 44%, rgba(0,0,0,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.navBar {
    backdrop-filter: blur(4px) saturate(124%);
    -webkit-backdrop-filter: blur(12px) saturate(123%);
    background-color: rgba(130, 130, 130, 0.308);
    border-radius: 12px;    
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-top: 2%;
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    border-bottom: 1px, white, solid;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 14px;
}

.navBar:hover {
    
    background-color: rgba(17, 25, 40, 0.55);
}

.adminDashText{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 30px;
}


.userControlBox {
    max-width: 50%;
    min-width: 50%;
    max-height: 40%;
    min-height: 40%;
}

.section.h2 {
    font-size: 50px;
}

.userControlBox h2 {
    color: #ffffff;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    max-height: 400px;
    overflow: scroll;
    margin-left: 20px;
}

.card {
    max-height: 200px;
    width: 100%;
    margin: 5px;
    padding: 15px;
    padding-top: 25px   ;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(10px) saturate(47%);
    -webkit-backdrop-filter: blur(10px) saturate(47%);
    background-color: rgba(17, 25, 40, 0.54);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.card:hover {
    background-color: rgba(130, 130, 130, 0.308);
}

.headerCard {
    max-height: 100px;
    width: 88%;
    padding: 10px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 50px;
    margin-left: 17px;
    backdrop-filter: blur(11px) saturate(102%);
    -webkit-backdrop-filter: blur(11px) saturate(102%);
    background-color: rgba(126, 211, 33, 0.14);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


.card-content h3,
.card-content p {
    margin: 0;
    padding: 0 15px;
    flex: 1;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.actions button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px;
}

.unBanButton {
    background-color: #5353ff;
    color: #ffffff;
}

.banButton {
    background-color: #5050f5;
    color: #ffffff;
}

.deleteButton {
    background-color: #e74c3c;
    color: #ffffff;
}

.unBanButton:hover,
.banButton:hover,
.deleteButton:hover {
    transform: translate(0px, -3px);
}

.unBanButton:hover {
    background-color: #47d65a;
}

.banButton:hover {
    background-color: #e74c3c;
}

.deleteButton:hover {
    background-color: #c0392b;
}

.stats {
    display: inline-grid;
    background-color: #111111;
    color: #fff;
    border-radius: 1rem;
    border: 1px solid gray;
    margin: 10px;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    padding: 10px;
}

.stat {
    display: inline-grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.stat-title {
    grid-column-start: 1;
    white-space: nowrap;
    color: rgb(197, 194, 194);
}

.stat-value {
    grid-column-start: 1;
    white-space: nowrap;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
}

.statsRowOne {
    display: flex;
    flex-direction: row;
}

.statsRowTwo {
    display: flex;
    flex-direction: row;
}

.statsContainer{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Search Styling */
.FilterSearch {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #ffffff; /* Changed this to white */
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    max-height: 30px;
}

.FilterSearch:focus, .FilterSearch:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

.FilterSearch::placeholder {
    color: #ffffff;
}

.FilterSearch:focus::placeholder {
    opacity: 0;
    color: #ffffff;
    transition: opacity .3s;
}

.topOfBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
}

