body {
   font-family: Arial, sans-serif;
   background-color: #010105;
   color: #fff;
   margin: 0;
   padding: 0;
}

.container {
   display: flex;
   height: 100vh;
}

/* Sidebar container */
.sidebar {
   background-color: #252941;
   width: 200px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   transition: transform 0.3s ease; 
   transform: translateX(-100%); 
   position: fixed; 
   height: 100vh; 
   z-index: 1000; 
}

.sidebar.open {
   transform: translateX(0); 
}

.menu-toggle {
   background: none; 
   border: none; 
   color: #ffffff; 
   font-size: 24px; 
   cursor: pointer; 
   margin-bottom: 20px; 
   z-index: 1001; 
}


.sidebar h2 {
color: #fff;
margin-bottom: 30px;
}


.sidebar ul {
list-style: none;
padding: 0;
width: 100%;  
}


.sidebar ul li {
margin-bottom: 20px;
}

.sidebar ul li a {
color: #7e8590;
text-decoration: none;
font-size: 18px;
display: flex;
align-items: center;
gap: 10px;
padding: 10px 15px;
border-radius: 6px;
transition: all 0.3s ease-out;
}


.sidebar ul li a:hover {
background-color: #5353ff;
color: #ffffff;
transform: translate(1px, -1px);
}


.sidebar ul li a svg {
width: 20px;
height: 20px;
transition: all 0.3s ease-out;
}


.sidebar ul li a:hover svg {
stroke: #ffffff;
}


.main-content {
flex-grow: 1;
padding: 20px;
position: relative;
z-index: 1;
}
.main-content.shifted {
transform: translateX(200px); 
transition: transform 0.3s ease; 
}

.header h1 {
margin-bottom: 60px;
margin-left: 270px;
}

.stats {
display: grid;
min-width: 100%;
margin-left: -70px;
grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;
}

.stat-card {
   background-color: #292d42;
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   margin-top: 25px;
   box-shadow: 0 0 70px rgba(0, 0, 0, 0.2);
 }
 canvas {
   margin-top: 50px;
   width: 90% !important;
   height: 250px !important;
   }

.stat-card.large-card {
grid-column: span 2;
}
.stat-card h3 {
   margin-bottom: 10px;
   color: #9ba8fc;
 }

 .stat-value {
   font-size: 40px; 
   color: #e5e5e5;
   font-weight: bold; 
   letter-spacing: 2px;
   margin-top: 25px;
 }
 
 .stat-card .Global-rank {
   color: #53ff53; 
   font-size: 2.25rem;
   font-weight: bold;
   margin-top: 45px;
 }
 
 .stat-card .tournament-won {
   color: #53ff53;
   font-size: 2.25rem;
 }
 
 .stat-card .tournament-played {
   color: #ff5353; 
   font-size: 2.25rem;
 }

 .stat-card .Games-played {
   color: #53ff53; 
   font-size: 2.25rem;
   font-weight: bold;
   margin-top: 45px;
 }

 .stat-card .win-percentage {
   color: #53ff53;
   font-size: 2.25rem;
   font-weight: bold;
   margin-top: 45px;
 }
 
 
 .stat-card .stat-value:hover {
   transform: scale(1.1);
   transition: transform 0.3s ease;
 }


#u1{
height: 80%;
width: 98%;
transform: translateX( 55% );
}
#u2{
height: 80%;
width: 40%;
margin-left: 62%;
}
#u3{
   height: 80%;
width: 40%;
margin-left: 8%;
}
#u4{
height: 80%;
width: 97.5%;
margin-left: 58%;
margin-top: 5%;
}
#u5{
height: 80%;
width: 89%;
margin-left: 62%;
margin-top: 5%;
}


.Player{
font-family: 'Press Start 2P', cursive;
font-size: 20px;
color: #ffffff;
letter-spacing: 1px;
text-transform: uppercase;
}

.ani {
white-space: nowrap;
overflow: hidden;
animation: typing 4s steps(25), blink-caret .5s step-end infinite; 
}

@keyframes typing {
from { width: 0; }
to { width: 100%; }
}

@keyframes blink-caret {
from, to { border-color: transparent; }
50% { border-color: #fff; }
}
.profile-box {
display: flex;
flex-direction: row;
align-items: center; 
background-color: #292d42;
padding: 40px;
border-radius: 10px;
box-shadow: 0 0 90px rgba(0, 0, 0, 0.2);
margin-top: 60px; 

padding-top: 60px;
padding-bottom: 90px;
width: 62%;
}

.profile-circle {
width: 150px;
height: 150px;
border-radius: 50%;
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQv9_M-S-BUpQJUqOyL6HPTyJPrwWICdhoLljYFnuoHtZrTO_zpsIa-pvDMjg&s');
background-size: cover;
background-position: center;
margin-left: 140px;
margin-right: 130px;
border: 3px solid #9ba8fc;
}


.profile-info {
display: flex; 
align-items: center; 
margin-bottom: 30px;
}

.player-name {
margin: 26px 0; 
color: #ffffff; 
font-family: 'Press Start 2P', cursive; 
font-size: 30px;
}
.player-email{
margin: 20px 0; 
color: #ffffff; 
font-family: 'Press Start 2P', cursive;
font-size: 13px;
}


.card {
  width: 80%;
  max-width: 100%;
  height: 70px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}

.img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.textBox {
  padding: 10px;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 10px;
}

.h1 {
  font-size: 16px;
  font-weight: bold;
}

.p {
  font-size: 12px;
  font-weight: lighter;
}


.completeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}